.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Hình-trai-cô-đơn-lạc-lõng-giữa-cuộc-đời.jpeg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Hình-trai-cô-đơn-lạc-lõng-giữa-cuộc-đời.jpeg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Hình-trai-cô-đơn-lạc-lõng-giữa-cuộc-đời.jpeg);
}
